<header>
	<div class="page_wrap">
		<a href="/" class="logoSite">
			<img src="/compiled/img/logo-2.1.svg" class="svg">
		</a>
		<!-- <div class="menu">
			<img src="/compiled/img/menu.svg" alt="Меню" class="menu_toggle_js">
		</div> -->
		<div class="sandwich animate">
			<div class="piece top"></div>
			<div class="piece middle"></div>
			<div class="piece bottom"></div>
		</div>
		<nav class="header_navigation header_navigation_js">
			<ul>
				<li><span class="show"><a href="http://webking/portfolio.html">Портфолио</a><a href="#"></a></span></li>
				<li><span class="show"><a href="http://webking/services.html">Услуги</a><a href="#"></a></span></li>
				<li><span class="show"><a class="go_to" href="#techs">Технологии</a><a href="#"></a></span></li>
				<li><span class="show"><a class="go_to" href="#about">О нас</a><a href="#"></a></span></li>
			</ul>
		</nav>
	</div>
</header>