<footer>
	<div class="page_wrap">
		<!-- <form method="POST" action="http://l5.dev" accept-charset="UTF-8"><input name="_token" type="hidden" value="rnktgnOIwG81GuG7qW5Hl6jP6JHOUrucNEty5BaR">
			<label for="email">Хочу получать письма о специальных пердлодениях</label>
			<input name="email" type="email" id="email">
			<input type="submit" value="Подписаться">
		</form> -->
		<form_subscribe></form_subscribe>
	</div>
	<div class="page_wrap hidden">
		<nav>
			<a href="http://l5.dev/portfolio">Портфолио</a>
			<a href="http://l5.dev/services">Услуги</a>
			<a href="http://l5.dev/techs">Технологии</a>
			<a href="http://l5.dev/about">О нас</a>
		</nav>
	</div>
	<div class="copyright">
		<div class="page_wrap">
			<nav>
				<a href="http://l5.dev/portfolio">Портфолио</a>
				<a href="http://l5.dev/services">Услуги</a>
				<a href="http://l5.dev/techs">Технологии</a>
				<a href="http://l5.dev/about">О нас</a>
			</nav>
			<img class="logo svg" src="/compiled/img/logo-2.1-no-lion.svg">
			<!-- <svg viewBox="226 50 488 147" class="logo">
				<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/compiled/img/logo-2.1.svg#text_1_"></use>
			</svg> -->
			<div class="rights"><span>Copyright © WebKing Creative Studio 2016. </span><span>All rights reserved</span></div>
		</div>
	</div>
</footer>
