@import 'variables';
@import 'reset';
@import 'normalize';
@import 'grid';

@mixin animate($duration){
	-webkit-transition: all $duration cubic-bezier(.4,0,.2,1);
	-o-transition: all $duration cubic-bezier(.4,0,.2,1);
	transition: all $duration cubic-bezier(.4,0,.2,1);
}
*{
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
input[type=text],
input[type=email],
input[type=passwd]{
	border-radius: .2em;
	border: 0;
	outline: 0;
	line-height: $gap * 2;
	padding: 0 $gap;
}
.hidden{
	display: none !important;
}
.light_line{
	background-color: $white;
	color: $spacegray;
}
//BUTTONS
.accent_button{
	background-color: $accent;
	color: $white;
	border-radius: .2em;
	border: 0;
	outline: 0;
	line-height: $gap * 2;
	padding: 0 $gap;
	cursor: pointer;
	&:hover{
		background-color: lighten($accent, 5);
	}
}
.no_accent_button{
	color: $white;
	border: 1px solid $white;
	border-radius: .2em;
	outline: 0;
	padding: 0 $gap;
	cursor: pointer;
	@include animate(.4s);
	&:hover{
		background-color: $accent;
	}
}
.show_more{
	margin: $gap 0;
	button{
		margin: 0 auto;
		display: block;
	}
}

.apple_images{
	display: flex;
	.project_image {
		max-width: 33%;
		max-height: 200px;
	}
}

body{
	font-size: 14px;
	font-family: $base-font-family;
	position: relative;
	background: lighten($spacegray, 4);
	color: $white;
	header{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: $white;
		z-index: 100;
		.logoSite{
			display: inline-block;
			height: $header_height;
			padding: $gap;
			box-sizing: border-box;
			@include animate(.3s);
			svg, img{
				position: relative;
				height: 100%;
			}
		}
		.menu{
			display: none;
			line-height: $header_height;
			float: right;
			padding: 0 $gap;
			@include animate(.3s);
			img{
				vertical-align: middle;
			}
		}
		// nav{
			// 	display: inline-block;
			// 	float: right;
			// 	a{
			// 		font-size: 1.2em;
			// 		color: #888;
			// 		line-height: $header_height;
			// 		text-decoration: none;
			// 		text-transform: uppercase;
			// 		padding: 0 $gap;
			// 		display: inline-block;
			// 		@include animate(.3s);
			// 		&:hover{
			// 			color: #444;
			// 		}
			// 		&:hover,
			// 		&.active{
			// 			box-shadow: inset 0 5px 0 $accent;  //asdasdas 
			// 		}
			// 	}
			// 	&.expanded{
			// 		// height: auto;
			// 	}
			// }
		nav{
			display: inline-block;
			float: right;
			padding: $header_height / 4;
			@include animate(.3s);
			ul, li {
				padding: 0;
				margin: 0;
				list-style: none;
			}
			li{
				display: inline-block;
				position: relative;
				margin: 0 .2em;
				text-align: center;
				@include animate(.4s);
				.show{
					a{
						text-decoration: none;
						text-transform: uppercase;
						cursor: pointer;
						line-height: $header_height / 2;
						padding: 0 $gap;
						display: inline-block;
						width: 100%;
						font-size: 1.2em;
						color: #888;
						@include animate(.4s);
						&:after,
						&:before{
							position: absolute;
							background: $accent;
							height: 1px;
							width: 0;
							content: " ";
							@include animate(.4s);
						}
						&:first-child{
							&:before{
								top: 0;
								left: 0;
							}
							&:after{
								bottom: 0;
								right: 0;
							}
						}
						&:last-child{
							padding: 0;
							display: inline;
							&:after,
							&:before{
								background: $accent;
							}
							&:before{
								bottom: 0;
								left: 0;
							}
							&:after{
								top: 0;
								right: 0;
							}
						}
						&:hover{
							// color: $spacegray;
							color: $accent;
						}
					}
					&:before{
						bottom: 0;
						right: 0;
					}
					&:after{
						top: 0;
						left: 0;
					}
				}
				&:before{
					top: 0;
					right: 0;
				}
				&:after{
					bottom: 0;
					left: 0;
				}
				.show:after,
				.show:before,
				&:after,
				&:before {
					content: " ";
					position: absolute;
					background: $accent;
					height: 0;
					width: 1px;
					@include animate(.4s);
				}
				&:hover a:after,
				&:hover a:before{
					width: 1.5em;
				}
				.show:hover:after,
				.show:hover:before,
				&:hover:after,
				&:hover:before {
					height: 1.5em;
				}
			}
			// li.active a:after,
			// li.active a:before{
			// 	width: 1.5em;
			// }
			// li.active .show:before,
			// li.active .show:after,
			// li.active:after,
			// li.active:before{
			// 	height: 1.5em;
			// }
			li.active a{
				color: $accent;
				font-weight: 600;
			}
		}

		//HEADER MOBILE
		.header_navigation.open {
			@include animate(.4s);
			height: 100px;
		}
		@media screen and (max-width: 992px){
			.logoSite{
				height: $header_height * .6;
				padding: $gap / 2;
			}
			.menu{
				display: block;
				line-height: $header_height * .6;
				cursor: pointer;
			}
			nav{
				width: 100%;
				overflow: hidden;
				padding: 0;
				ul{
					width: 100%;
					text-align: center;
					line-height: $header_height * .6;
				}
			}
			.header_navigation.closed {
				height: 0px;
				@include animate(.4s);
			}
		}
		@media screen and (max-width: 570px){
			nav{
				ul{
					display: flex;
					flex-direction: column;
					align-items: center;
					li{
						width: 160px;
						margin-bottom: 10px;
						text-align: center;
						line-height: $header_height * .6;
					}
				}
			}
			.header_navigation.open {
				height: 340px;
			}
		}
	}
	&.scrolled{
		header{
			.logoSite{
				height: $header_height * .6;
				padding: $gap / 2;
			}
			.menu {
				line-height: $header_height * .6;
			}
			nav{
				padding: 6px;
			}
		}
	}
	.page_wrap{
		max-width: $page_width;
		width: 80vw;
		margin: 0 auto;
		overflow: auto;
		position: relative;
		h1 {
			text-align: center;
		}
		.tags_block{
			display: flex;
			justify-content: center;
			p, a {
				margin-left: 5px;
				margin-right: 5px;
			}
		}
	}	
	section.content{
		padding-top: $header_height;
		min-height: 100vh;
		.subsection{
			padding: 1em 0;
		}
		.page_item{
			display: block;
			background: $white;
			position: relative;
			overflow: hidden;
			img{
				display: block;
				max-height: 250px;
			}
			p{
				text-align: center;
			}
			.title{
				font-size: 1.4em;
				text-align: center;
			}
			.project_title {
				position: absolute;
				margin: 0;
				right: 0;
				left: 0;
				top: calc(100% - 4em);
				bottom: 0;
				background: rgba(0, 0, 0, .6);
				color: $white;
				text-align: center;
				font-size: 20px;
				@include animate(.4s);
				p {
					opacity: 1;
					font-size: 16px;
				}
				p:first-child {
					font-size: 20px;
					line-height: calc(4em);
					margin: 0;
				}
			}
			&:hover {
				.project_title {
					top: 0;
				}
			}
		}
		//BANNER ON THE MAIN PAGE
		.banner_wrap{
			position: relative;
			background: $spacegray;
			color: $white;
			.owl-carousel{
				.owl-wrapper-outer{
					height: calc(100vh - 120px);
				}
				.owl-item{
					width: 100vw;
					img{
						-webkit-filter: brightness(0.30);
						filter: brightness(0.30);
					}
				}
				.owl-controls{
					position: absolute;
					bottom: 1em;
					left: calc(50% - 39px);
					.owl-page span{
						background: $white;
						opacity: 0.5;
					}
					.owl-page.active span,
					.owl-page span:hover{
						background: $white;
						opacity: 0.9;
					}
				}
			}
			.banner_info{
				position: absolute;
				z-index: 1;
				top: 20%;
				left: calc(50% - 300px);
				text-align: center;
				padding: 1em;
				h1{
					font-size: 4em;
				}
				.bunner_btn{
					width: 200px;
					margin: 3em auto;
					border: 1px solid $white;
				}
			}
			@media all and (max-width: 480px){
				.banner_info{
					top: 10%;
					left: 0;
					h1{
						font-size: 3em;
					}
				}
			}
		}
		.projects_wrap,
		&.portfolio_page{
			.items_wrap{
				> div{
					padding: 1px;
				}
				.page_item{
					img{
						@include animate(.4s);
					}
					.text_block{
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						padding: $gap;
						background: rgba(0, 0, 0, .6);
						color: $white;
						opacity: 0;
						z-index: 1;
						visibility: hidden;
						@include animate(.4s);
						a{
							display: block;
							margin: 0 auto;
							width: 120px;							
							margin-top: 6em;
							line-height: 30px;							
						}
					}
					&:hover{
						.text_block{
							opacity: 1;
							visibility: visible;
						}
						img{
							-webkit-transform: scale(1.1);
							-moz-transform: scale(1.1);
							-o-transform: scale(1.1);
						}
					}
				}
			}			
		}
		&.portfolio_page{
			.items_wrap{
				.page_item{
					img{
						max-height: none;
						height: 400px;
						width: 100%;
					}
				}
			}
		}
		//SERVISES PAGE
		&.services_page{
			max-width: 100%;
			margin: 0px;
			.container{
				width: 70vw;
				margin: 0 auto;
				.service{
					.service_title {
						text-align: center;
						font-size: 1.8em;
					}
					.main_text{
						max-width: 1200px;
						margin: 1em auto;
						text-align: justify;
						font-size: 1.2em;
						line-height: 1.4em;
					}
					.wkTabs{
						> div{
							overflow: hidden;
							background: lighten($spacegray, 10);
							height: 50vh;
							.slide {
								position: relative;								
								.slide_text{
									color: $white;
									margin: 0 auto;
									max-width: 1200px;
									li, p{
										font-size: 1.2em;
										line-height: 1.4em;
										text-align: justify;
									}
								}
								.btn_wrap{
									a{
										padding: 10px 20px;
										margin: 0 1em;
									}
									.accent_button{
										border: 1px solid $accent; 
									}
								}
							}
						}
						> ul{
							margin:0;
							padding:0;
							display: flex;
							justify-content: center;
							flex-wrap: wrap;
							li{
								margin: 5px;
								display:block;
								&.active,
								&.active:hover{
									background: $accent;
								}
								&:hover{
									background-color: lighten($accent, 5);
								}
							}
						}
					}
					//PACKAGES BLOCK
					.packages_block {
						display: flex;
						justify-content: center;
						margin: 0 auto;
						color: $spacegray;
						margin-top: $gap * 3;
						margin-bottom: $gap * 3;
						.package {
							width: 25%;
							text-align: center;
							height: 300px;
							width: 200px;
							.package_descritpion {
								ul {
									list-style-type: none;
									padding: 0px;
								}
							}
						}
						.package_title, 
						.package_price {
							line-height: 50px;
							font-size: 22px;
						}
						.middle_package {
							transform: scale(1.1);
							background: $white;
							.package_price {
								background: $accent;
								color: $white;
							}
						}
						.basic_package, 
						.full_package {
							background: #eeeeee;
							.package_price {
								background: lighten($accent, 25);
							}
						}
					}
				}
			}
			//MAGICK SIDEBAR WHITH FANTASTIC SCROLL
			.magic_sidebar{
				position: fixed;
				right: 2vw;
				top: 0px;
				bottom: 0;
				width: 100px;
				.nav{
					padding: 0px;
					list-style-type: none;
					margin-top: 200px;
					.sidebar_item{
						margin-top: 5vh;
						padding: 0px;
						background: $white;
						// border: 1px solid $accent;
						border-radius: 50%;
						padding: 1em;
						width: 100px;
						height: 100px;
						position: relative;
						// border-top-left-radius: .2em;
						// border-bottom-left-radius: .2em;
						@include animate(.4s);
						a{
							display: block;
							position: absolute;
							width: 50px;
							height: 50px;
							top: calc(100% - 75px);
							left: calc(100% - 75px);
							color: #242629;
							.svg_img{
								@include animate(.4s);
							}
						}
						&.active {
							// background: $accent;
							// border: 1px solid $white;
							// a {
							// 	color: $white;
							// }
							transform: scale(1.2);
							.svg_img{
								transform: scale(1.2);
								& path.accent {
									fill: $accent;
								}
							}
						}
					}
				}
			}
		}
		&.project_page{
			font-size: 1.2em;
			.project_img{
				img{
					width: 100%;
				}
			}
			.project_descr{
				padding: 0 $gap * 2;
			}
			.projects_task{
				.title{
					font-size: 1.2em;
				}
			}
			.btn_wrap{
				> div{
					margin: 2em;
				}
				a{
					padding: $gap / 2 $gap;
					&.accent_button{
						font-size: 1.2em;
					}
				}
			}
		}
		//SERVISES BLOCK on the main page
		.services_wrap{
			.page_item{
				height: 350px;
				background: transparent;
				padding: 1em;
				.service_icon{
					width: 100px;
					height: 100px;
					margin: 0 auto;
					// border: 2px solid $accent;
					border-radius: 50%;
					.sub_service_icon{
						width: 60px;
						height: 60px;
						margin: 20% auto;
						background-color: $accent;
						border-radius: 50%;
					}
					.svg_img{
						width: 100px;
						height: 100px;
					}
				}
				.service_descr{
					text-align: justify;
				}
				ul{
					// padding: 0 6em;
					a{
						color: $white;
						li{
							list-style: none;
							line-height: 1.6em;
							font-size: 1.2em;
						}
						&:hover{
							color: lighten($accent, 5);
						}
					}
				}
			}
		}
		.technologies_wrap{
			.owl_techn{
				.page_item{
					padding: .5em;
					background: transparent;
					img{
						display: block;
						margin: 0 auto;
					}
				}
			}
		}
		.about_studio_wrap{
			.page_item{
				margin: 1em auto;
				text-align: center;
				background-color: lighten($spacegray, 4);
				p{
					max-width: 250px;
					text-align: justify;
					margin: 1em auto;
				}
				.title{
					text-align: center;
				}
			}
		}
		.something_wrap{
			height: 300px;
		}
		.location_wrap{
			.overlay {
				background:transparent;
				position:relative; 
				width:100%;
				height:450px;
				top:450px;
				margin-top:-450px;
			}
			.studio_location{
				width:100%;
				display: block;
				margin: 0 auto;
			}
		}
	}
	footer{
		background-color: lighten($spacegray, 4);
		color: $lightfont;
		line-height: 2em;
		a{
			color: $lightfont;
			text-decoration: none;
		}
		.copyright{
			line-height: $gap * 4;
			background-color: $spacegray;
			img{
				max-width: 150px;
				float: left;
			}
			.logo{
				height: 80px;
				display: inline-block;
				float: left;
				padding: 0 $gap;
				#lion {
					display: none;
				}
				#text_1_ * {
					fill: darken($lightfont, 50) !important;
				}
			}
			.page_wrap {
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				.rights {
					color: darken($lightfont, 30);
					padding-right: $gap;
				}
			}
		}
		.page_wrap{
			nav{
				a{
					display: inline-block;
					padding: 0 $gap;
					&:hover{
						color: $white;
					}
				}
			}
		}
		.subscribe{
			padding: $gap 0;
			text-align: center;
			font-size: 1.143em;
			input{
				margin-left: $gap;
			}
		}
	}
	@media (max-width: 1020px) {
		footer {
			.copyright {
				.logo {
					padding: 0px !important;
					height: 50px !important;
					width: 100%;
					margin-bottom: $gap / 2;
					order: 3;
				}
				.rights {
					text-align: center;
					width: 100%;
					line-height: 50px;
					padding: 0px !important;
				}
			}
			.page_wrap {
				nav {
					width: 100%;
					display: flex;
					justify-content: center;
					a {
						line-height: 50px;
					}
				}
			}
		}
	}
	@media screen and (max-width: 992px) {
		.content{
			padding-top: 72px;
			.banner_wrap .owl-carousel .owl-wrapper-outer{
				height: calc(100vh - 72px);
			}
		}
	}
	@media (max-width: 450px) {
		footer {
			.copyright {
				.rights {
					display: flex;
					justify-content: center;
					flex-wrap: wrap;
				}
			} 
			.page_wrap {
				.subscribe {
					display: flex;
					justify-content: center;
					flex-wrap: wrap;
					input {
						margin-top: $gap / 2;
						margin-left: 0px;
					}
				}
				nav {
					flex-wrap: wrap;
					a {
						line-height: 50px;
						width: 100%;
						text-align: center;
					}
				}
			}
		}
	}
}