@import 'reset';
@import 'normalize';

$gap:			20px;
$page_width:		1300px;
$header_height:		120px;

// colors
$accent:			#bf1111;
$spacegray:			#242629;
$spacegraylight:	#2c2e31;
$white:				#fff;
$lightfont:			#c0c0c0;

@mixin animate($duration){
	-webkit-transition: all $duration cubic-bezier(.4,0,.2,1);
	-o-transition: all $duration cubic-bezier(.4,0,.2,1);
	transition: all $duration cubic-bezier(.4,0,.2,1);
}
*{
	box-sizing: border-box;
}
.hidden{
	display: none !important;
}
.accent_button{
	background-color: $accent;
	color: $white;
	border-radius: .2em;
	border: 0;
	outline: 0;
	line-height: $gap * 2;
	padding: 0 $gap;
	cursor: pointer;
	&:hover{
		background-color: lighten($accent, 5);
	}
}
input[type=text],
input[type=email],
input[type=passwd]
{
	border-radius: .2em;
	border: 0;
	outline: 0;
	line-height: $gap * 2;
	padding: 0 $gap;
}
body{
	font-size: 14px;
	font-family: $base-font-family;
	background: #f2f2f2;
	header{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background: #fff;
		z-index: 100;
		.logoSite{
			display: inline-block;
			height: $header_height;
			@include animate(.3s);
			padding: $gap;
			box-sizing: border-box;
			svg, img{
				position: relative;
				height: 100%;
			}
		}
		nav{
			display: inline-block;
			float: right;
			a{
				font-size: 1.2em;
				color: #888;
				line-height: $header_height;
				text-decoration: none;
				text-transform: uppercase;
				padding: 0 $gap;
				display: inline-block;
				@include animate(.3s);
				&:hover{
					color: #444;
				}
				&:hover,
				&.active{
					box-shadow: inset 0 2px 0 $accent;  //asdasdas 
				}
			}
		}
	}
	&.scrolled{
		header{
			.logoSite{
				height: $header_height * .6;
				padding: $gap / 2;
			}
			nav{
				a{
					line-height: $header_height * .6;
				}
			}
		}
	}
	.page_wrap{
		max-width: $page_width;
		margin: 0 auto;
		overflow: auto;
		position: relative;
	}
	.content{
		padding-top: $header_height;
		min-height: 100vh;
	}
	footer{
		background-color: lighten($spacegray, 4);
		color: $lightfont;
		line-height: 2em;
		a{
			color: $lightfont;
			text-decoration: none;
		}
		.copyright{
			line-height: 80px;
			background-color: $spacegray;
			img{
				max-width: 150px;
				float: left;
			}
			.logo{
				height: 80px;
				display: inline-block;
				float: left;
				padding: $gap;
				fill: darken($lightfont, 50);
			}
			.page_wrap {
				display: flex;
				justify-content: space-between;
				.rights {
					color: darken($lightfont, 30);
					padding-right: $gap;
				}
			}
		}
		.page_wrap{
			nav{
				a{
					display: inline-block;
					padding: 0 $gap;
					&:hover{
						color: $white;
					}
				}
			}
		}
		.subscribe{
			padding: $gap 0;
			text-align: center;
			font-size: 1.143em;
			input{
				margin-left: $gap;
			}
		}
	}
}
