<section class="content portfolio_page">
	<div class="page_wrap">
		<h1>Портфолио</h1>
		<div class="tags_block">
			<!-- У следующих тегов р класс, который стоит на первом месте не менять
					и не перемещать на другое место. обработка js. -->
			<p class="all tag_js active">#все</p>
			<p class="landing tag_js">#лендинг</p>
			<p class="visit tag_js">#сайт-визитка</p>
			<p class="storage tag_js">#интернет магазин</p>
			<p class="corp tag_js">#корпоративный сайт</p>
			<p class="catalog tag_js">#каталог</p>
		</div>
	</div>
	<div class="container">
		<div class="row items_wrap">
			<div class="col-xs-12 col-sm-6 col-md-4 landing">
				<div class="page_item">
					<div class="text_block">
						<p class="title">Название проекта</p>
						<p class="short_descr">Landing Page</p>
						<a class="no_accent_button" href="http://webking/project.html">Подробнее</a>
					</div>
					<img src="/compiled/img/projects/1962-chevrolet-bel-air.jpg">
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 visit">
				<div class="page_item">
					<div class="text_block">
						<p class="title">Название проекта</p>
						<p class="short_descr">Сайт визитка</p>
						<a class="no_accent_button" href="http://webking/project.html">Подробнее</a>
					</div>
					<img src="/compiled/img/projects/avto-retro-gory-pustynya.jpg">
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 landing">
				<div class="page_item">
					<div class="text_block">
						<p class="title">Название проекта</p>
						<p class="short_descr">Landing Page</p>
						<a class="no_accent_button" href="http://webking/project.html">Подробнее</a>
					</div>
					<img src="/compiled/img/projects/devushka-volosy-perya-indeec.jpg">
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 storage">
				<div class="page_item">
					<div class="text_block">
						<p class="title">Название проекта</p>
						<p class="short_descr">Интернет магазин</p>
						<a class="no_accent_button" href="http://webking/project.html">Подробнее</a>
					</div>
					<img src="/compiled/img/projects/dodge-charger-rt-dodzh-power.jpg">
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 corp">
				<div class="page_item">
					<div class="text_block">
						<p class="title">Название проекта</p>
						<p class="short_descr">Корпоративный сайт</p>
						<a class="no_accent_button" href="http://webking/project.html">Подробнее</a>
					</div>
					<img src="/compiled/img/projects/flash-dc-flesh-barri.jpg">
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 catalog">
				<div class="page_item">
					<div class="text_block">
						<p class="title">Название проекта</p>
						<p class="short_descr">Каталог</p>
						<a class="no_accent_button" href="http://webking/project.html">Подробнее</a>
					</div>
					<img src="/compiled/img/projects/haski-poroda-sneg-osheynik.jpg">
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 visit">
				<div class="page_item">
					<div class="text_block">
						<p class="title">Название проекта</p>
						<p class="short_descr">Сайт визитка</p>
						<a class="no_accent_button" href="http://webking/project.html">Подробнее</a>
					</div>
					<img src="/compiled/img/projects/malchik-krutoy-avto-poezdka.jpg">
				</div>
			</div>
			<div class="col-xs-12 col-md-8 landing">
				<div class="project_block">
					<!-- <div class="col-md-6"> -->
						<div class="page_item">
							<div class="text_block">
								<p class="title">Название проекта</p>
								<p class="short_descr">Landing Page</p>
								<a class="no_accent_button" href="http://webking/project.html">Подробнее</a>
							</div>
							<img src="/compiled/img/projects/ovcharka-dobermany-trio.jpg">
						</div>
					<!-- </div> -->
					<!-- <div class="col-md-6">
						<div class="decription">
							<p>Немного букав про то, шо от нас хотели. Какая основная задача стояла. И как мы выиграли эту битву. Флавлес виктори!!!</p>
						</div>
					</div> -->
				</div>
			</div>
			<div class="col-xs-12 col-md-8 catalog">
				<div class="project_block">
					<!-- <div class="col-md-6"> -->
						<div class="page_item">
							<div class="text_block">
								<p class="title">Название проекта</p>
								<p class="short_descr">Каталог</p>
								<a class="no_accent_button" href="http://webking/project.html">Подробнее</a>
							</div>
							<img src="/compiled/img/mass.jpg">
						</div>
					<!-- </div> -->
					<!-- <div class="col-md-6">
						<div class="decription">
							<p>Немного букав про то, шо от нас хотели. Какая основная задача стояла. И как мы выиграли эту битву. Флавлес виктори!!!</p>
						</div>
					</div> -->
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 storage">
				<div class="page_item">
					<div class="text_block">
						<p class="title">Название проекта</p>
						<p class="short_descr">Интернет магазин</p>
						<a class="no_accent_button" href="http://webking/project.html">Подробнее</a>
					</div>
					<img src="/compiled/img/mass.jpg">
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 catalog">
				<div class="page_item">
					<div class="text_block">
						<p class="title">Название проекта</p>
						<p class="short_descr">Каталог</p>
						<a class="no_accent_button" href="http://webking/project.html">Подробнее</a>
					</div>
					<img src="/compiled/img/test_image.jpg">
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 corp">
				<div class="page_item">
					<div class="text_block">
						<p class="title">Название проекта</p>
						<p class="short_descr">Корпоративный сайт</p>
						<a class="no_accent_button" href="http://webking/project.html">Подробнее</a>
					</div>
					<img src="/compiled/img/test_image.jpg">
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 storage">
				<div class="page_item">
					<div class="text_block">
						<p class="title">Название проекта</p>
						<p class="short_descr">Интернет магазин</p>
						<a class="no_accent_button" href="http://webking/project.html">Подробнее</a>
					</div>
					<img src="/compiled/img/earth.jpg">
				</div>
			</div>
		</div>
		<div class="show_more">
			<button class="accent_button">Показать еще</button>
		</div>
	</div>
</section>