<section class="content home_page">
	<div class="banner_wrap">
		<owl-banner></owl-banner>
	</div>
	<div class="subsection projects_wrap light_style">
		<div class="page_wrap">
			<h2>Последние работы</h2>
			<div class="container">
				<div class="row items_wrap">
					<div class="col-xs-6 col-md-3 col-sm-4">
						<div class="page_item">
							<div class="text_block">
								<p class="title">Название проекта</p>
								<p class="short_descr">Описание проекта</p>
								<a class="no_accent_button" href="http://webking/project.html">Подробнее</a>
							</div>
							<img src="/compiled/img/projects/1962-chevrolet-bel-air.jpg">
						</div>
					</div>
					<div class="col-xs-6 col-md-3 col-sm-4">
						<div class="page_item">
							<div class="text_block">
								<p class="title">Название проекта</p>
								<p class="short_descr">Описание проекта</p>
								<a class="no_accent_button" href="http://webking/project.html">Подробнее</a>
							</div>
							<img src="/compiled/img/projects/avto-retro-gory-pustynya.jpg">
						</div>
					</div>
					<div class="col-xs-6 col-md-3 col-sm-4">
						<div class="page_item">
							<div class="text_block">
								<p class="title">Название проекта</p>
								<p class="short_descr">Описание проекта</p>
								<a class="no_accent_button" href="http://webking/project.html">Подробнее</a>
							</div>
							<img src="/compiled/img/projects/devushka-volosy-perya-indeec.jpg">
						</div>
					</div>
					<div class="col-xs-6 col-md-3 col-sm-4">
						<div class="page_item">
							<div class="text_block">
								<p class="title">Название проекта</p>
								<p class="short_descr">Описание проекта</p>
								<a class="no_accent_button" href="http://webking/project.html">Подробнее</a>
							</div>
							<img src="/compiled/img/projects/dodge-charger-rt-dodzh-power.jpg">
						</div>
					</div>
					<div class="col-xs-6 col-md-3 col-sm-4">
						<div class="page_item">
							<div class="text_block">
								<p class="title">Название проекта</p>
								<p class="short_descr">Описание проекта</p>
								<a class="no_accent_button" href="http://webking/project.html">Подробнее</a>
							</div>
							<img src="/compiled/img/projects/flash-dc-flesh-barri.jpg">
						</div>
					</div>
					<div class="col-xs-6 col-md-3 col-sm-4">
						<div class="page_item">
							<div class="text_block">
								<p class="title">Название проекта</p>
								<p class="short_descr">Описание проекта</p>
								<a class="no_accent_button" href="http://webking/project.html">Подробнее</a>
							</div>
							<img src="/compiled/img/projects/haski-poroda-sneg-osheynik.jpg">
						</div>
					</div>
					<div class="col-xs-6 col-md-3 col-sm-4">
						<div class="page_item">
							<div class="text_block">
								<p class="title">Название проекта</p>
								<p class="short_descr">Описание проекта</p>
								<a class="no_accent_button" href="http://webking/project.html">Подробнее</a>
							</div>
							<img src="/compiled/img/projects/malchik-krutoy-avto-poezdka.jpg">
						</div>
					</div>
					<div class="col-xs-6 col-md-3 col-sm-4">
						<div class="page_item">
							<div class="text_block">
								<p class="title">Название проекта</p>
								<p class="short_descr">Описание проекта</p>
								<a class="no_accent_button" href="http://webking/project.html">Подробнее</a>
							</div>
							<img src="/compiled/img/projects/ovcharka-dobermany-trio.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection services_wrap">
		<div class="page_wrap">
			<h2>Услуги</h2>
			<div class="container">
				<ul class="row akkordeon">
					<li class="page_item col-xs-12 col-md-4">
						<div>
							<div class="service_icon"><img src="compiled/img/developing.svg" class="svg_img svg" alt="developing"></div>
							<p class="title">Создание сайтов</p>
							<p class="description">Если хочешь сайт на ворпрессе, но ссышь заказать у фрилансера, то пиши нам</p>
						</div>
						<ul>
							<li><a href="#" src="">Магазин</a></li>
							<li><a href="#" src="">Под ключ</a></li>
							<li><a href="#" src="">Лендинг</a></li>
							<li><a href="#" src="">Компании</a></li>
							<li><a href="#" src="">Портал</a></li>
							<li><a href="#" src="">Корпоративный</a></li>
						</ul>
					</li>
					<li class="page_item col-xs-12 col-md-4">
						<div>
							<div class="service_icon"><img src="compiled/img/web_design_icon.svg" class="svg_img svg" alt="web design"></div>
							<p class="title">Веб дизайн</p>
							<p class="description">Намалюем, смантируем, разукрасим! Кароч, сделаем Ваш бренд легко узнаваемым</p>
						</div>
						<ul>
							<li><a href="#" src="">Сайт</a></li>
							<li><a href="#" src="">Логотип</a></li>
							<li><a href="#" src="">Стиль</a></li>
							<li><a href="#" src="">Баннер</a></li>
							<li><a href="#" src="">Этикетка</a></li>
						</ul>
					</li>
					<li class="page_item col-xs-12 col-md-4 hidden">
						<div>
							<div class="service_icon"><img src="compiled/img/seo.svg" class="svg_img svg" alt="seo"></div>
							<p class="title">Интернет-маркетинг</p>
							<p class="description"></p>
						</div>
						<ul>
							<li><a href="#" src="">Продвижение</a></li>
							<li><a href="#" src="">Оптимизация</a></li>
							<li><a href="#" src="">Реклама</a></li>
							<li><a href="#" src="">Юзабилити</a></li>
							<li><a href="#" src="">Аудит</a></li>
						</ul>
					</li>
					<li class="page_item col-xs-12 col-md-4">
						<div>
							<div class="service_icon"><img src="compiled/img/support.svg" class="svg_img svg" alt="support"></div>
							<p class="title">Техническая поддержка</p>
							<p class="description">Высокая производительность сайта - хотели бы Вам предложить, НО не можем</p>
						</div>
						<ul>
							<li><a href="#" src="">Поддержка</a></li>
							<li><a href="#" src="">Копирайтинг</a></li>
							<li><a href="#" src="">Наполнение</a></li>
							<li><a href="#" src="">Безопасность</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="subsection technologies_wrap light_style" id="techs">
		<div class="page_wrap wide">
			<h2>Технологии</h2>
			<owl-techs></owl-techs>
		</div>
	</div>
	<div class="subsection about_studio_wrap" id="about">
		<div class="page_wrap">
			<h2>Наша команда</h2>
			<div class="container">
				<div class="row">
					<div class="col-xs-6 col-md-3 col-sm-6">
						<div class="page_item">
							<img src="compiled/img/avatar.svg" class="svg" alt="avatar">
							<p class="title">Веб дизайнер</p>
							<p>Мы сделаем Ваш бренд легко узнаваемым</p>
						</div>
					</div>
					<div class="col-xs-6 col-md-3 col-sm-6">
						<div class="page_item">
							<img src="compiled/img/avatar.svg" class="svg" alt="avatar">
							<p class="title">Разработчик</p>
							<p>Ваш сайт будет многофункциональным и в то же время быстродейственным</p>
						</div>
					</div>
					<div class="col-xs-6 col-md-3 col-sm-6">
						<div class="page_item">
							<img src="compiled/img/avatar.svg" class="svg" alt="avatar">
							<p class="title">SEO специалист</p>
							<p>Мы знаем как увеличить Ваши продажи и привлечь максимальное количество клиентов</p>
						</div>
					</div>
					<div class="col-xs-6 col-md-3 col-sm-6">
						<div class="page_item">
							<img src="compiled/img/avatar.svg" class="svg" alt="avatar">
							<p class="title">Техподдержка</p>
							<p>Высокая производительность работы сайта - вот что мы хотим Вам предложить</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection accent_style short_contacts_wrap">
		<div class="page_wrap">
			<h2>Как с нами связаться?</h2>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-4">
						<span class="icon"><img src="compiled/img/icons/phone.svg" alt="phone" class="svg_img svg"></span>
						<p>+38 (066) 720-54-88</p>
					</div>
					<div class="col-xs-12 col-md-4">
						<span class="icon"><img src="compiled/img/icons/location.svg" alt="location" class="svg_img svg"></span>
						<p>просп. Юбилейный, 54а, Харьков, Украина</p>
					</div>
					<div class="col-xs-12 col-md-4">
						<span class="icon"><img src="compiled/img/icons/email.svg" alt="email" class="svg_img svg"></span>
						<p>webking@gmail.com</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection contacts_wrap light_style">
		<div class="page_wrap row">
			<div class="col-xs-12 col-md-6 contact_us_wrap">
				<h2>Напишите нам</h2>
				<div class="page_item">
					<form class="row">
						<!-- <textarea rows="4" cols="50" name="subject" placeholder="Сообщение:" class="message" required></textarea>
						<input type="text" name="username" placeholder="Ваше имя" class="name" required />
						<input type="email" name="emailaddress" placeholder="Email" class="email" required />
						<input type="tel" name="userphone" placeholder="Номер телефона">
						<input type="text" name="subject" placeholder="Тема">
						<input type="submit" name="submit" class="accent_button" value="Отправить" /> -->
						<div class="col-md-12">
							<input type="text" class="subject" name="subject" placeholder="Тема">
						</div>
						<div class="col-md-8">
							<textarea rows="5" cols="50" name="subject" placeholder="Сообщение:" class="message" required></textarea>
						</div>
						<div class="col-md-4">
							<input type="text" class="username" name="username" placeholder="Ваше имя" class="name" required />
							<input type="email" class="emailaddress" name="emailaddress" placeholder="Email" class="email" required />
							<input type="tel" class="userphone" name="userphone" placeholder="Номер телефона">
							<input type="submit" name="submit" class="accent_button submit_btn" value="Отправить" />
						</div>
						<!-- <div class="form_inputs_block">
							<textarea rows="5" cols="50" name="subject" placeholder="Сообщение:" class="message" required></textarea>
						</div>
						<div class="form_inputs_block">
							<input type="text" class="username" name="username" placeholder="Ваше имя" class="name" required />
							<input type="email" class="emailaddress" name="emailaddress" placeholder="Email" class="email" required />
							<input type="tel" class="userphone" name="userphone" placeholder="Номер телефона">
							<input type="submit" name="submit" class="accent_button submit_btn" value="Отправить" />
						</div> -->
					</form>
				</div>
			</div>
			<div class="col-xs-12 col-md-6 grid_mod">
				<my-map></my-map>
			</div>
		</div>
	</div>
	<div class="subsection contact_us_wrap light_style hidden">
		<div class="page_wrap">
			<h2>Свяжитесь с нами</h2>
			<div class="container">
				<div class="page_item form_item">
					<form>
						<!-- <textarea rows="4" cols="50" name="subject" placeholder="Сообщение:" class="message" required></textarea>
						<input type="text" name="username" placeholder="Ваше имя" class="name" required />
						<input type="email" name="emailaddress" placeholder="Email" class="email" required />
						<input type="tel" name="userphone" placeholder="Номер телефона">
						<input type="text" name="subject" placeholder="Тема">
						<input type="submit" name="submit" class="accent_button" value="Отправить" /> -->
						<div class="form_inputs_block">
							<textarea rows="5" cols="50" name="subject" placeholder="Сообщение:" class="message" required></textarea>
						</div>
						<div class="form_inputs_block">
							<input type="text" class="subject" name="subject" placeholder="Тема">
							<input type="text" class="username" name="username" placeholder="Ваше имя" class="name" required />
							<input type="email" class="emailaddress" name="emailaddress" placeholder="Email" class="email" required />
							<input type="tel" class="userphone" name="userphone" placeholder="Номер телефона">
							<input type="submit" name="submit" class="accent_button submit_btn" value="Отправить" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection contacts_wrap hidden">
		<div class="page_wrap">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6 grid_mod">
						<h2>Контакты</h2>
						<div class="page_item contacts_item">
							<div class="contacts">
								<p><img src="compiled/img/icons/earth.svg" alt="earth" class="svg_img svg"> <span>61000 Харьков, Украина</span></p>
								<p><img src="compiled/img/icons/location.svg" alt="location" class="svg_img svg"> <span>проспект Юбилейный, 54а</span></p>
								<p><img src="compiled/img/icons/phone.svg" alt="phone" class="svg_img svg"> <span>+38 (000) 000-00-00</span></p>
								<p><img src="compiled/img/icons/email.svg" alt="email" class="svg_img svg"> <span>webking@gmail.com</span></p>
							</div>
							<div class="time">
								<p>Звоните нам:</p>
								<p>Пн.–Пт.: 9:00 − 19:00</p>
								<p>Сб.: 11:00 − 17:00</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-6 grid_mod">
						<my-map></my-map>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>