<section class="content project_page">
	<div class="subsection">
		<div class="page_wrap">
			<h1>Интернет-магазин XT.UA</h1>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6 project_img">
						<img src="compiled/img/responsive-web-design-adaptive-images.png" alt="responsive">
					</div>
					<div class="col-xs-12 col-md-6 project_descr">
						<p>Дата запуска: 01.01.2016</p>
						<div>
							<p>Основная задача: Разработать многофункциональный коплексный интернет-магазин.</p>
							<p>Что было с делано:</p>
							<ul>
								<li>Выполнен ребрендинг сайта в соответсвии с последними тенденциями веб дизайна</li>
								<li>Доработана индивидуальная уникальная CMS (система управления сайтом) соответсвующая особенностям и бизнесс-процессам компании.</li>
								<li>Сделано короче куча всего клевого.</li>
							</ul>

						</div>
						<div class="btn_wrap">
							<a class="no_accent_button" href="#">Перейти на сайт</a>
							<a class="accent_button" href="#">Хочу такой!</a>
						</div>
					</div>
				</div>
				<!-- <div class="row">
					<div class="col-xs-12 col-md-6 projects_task">
						<p class="title">Задача</p>
						<p>Описание задачи</p>
					</div>
					<div class="col-xs-12 col-md-6 btn_wrap">
						<div><a class="no_accent_button" href="#">Перейти на сайт</a></div>
						<div><a class="accent_button" href="#">Хочу такой!</a></div>
					</div>
				</div> -->
			</div>

		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<img src="/compiled/img/projects/xt/main_page.png">
		</div>
	</div>
</section>