<section class="content project_page">
	<div class="subsection">
		<div class="page_wrap">
			<h1>Barbator</h1>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-12 project_descr">
						<!-- <p>Дата запуска: 01.01.2016</p> -->
						<div>
							<p>Основная задача: Разработать многофункциональный коплексный интернет-магазин.</p>
							<p>Что было с делано:</p>
							<ul>
								<li>Выполнен ребрендинг сайта в соответсвии с последними тенденциями веб дизайна</li>
								<li>Дизайн "натянули" на CMS PrestaShop</li>
								<li>Сделано короче куча всего клевого</li>
							</ul>
						</div>
						<div class="btn_wrap">
							<a class="no_accent_button" href="http://barbator.com" target="_blank">Перейти на сайт</a>
							<!-- <a class="accent_button" href="#">Хочу такой!</a> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection">
		<div class="page_wrap">
			<div class="project_element">
				<img class="main_page" src="/compiled/img/projects/barbator/main_page.png">
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<div class="project_element">
				<img class="laptop" src="/compiled/img/projects/barbator/barbator-laptop.png">
				<img class="tablet" src="/compiled/img/projects/barbator/barbator-iPad.png">
				<img class="mobile" src="/compiled/img/projects/barbator/barbator-mob.png">
			</div>
		</div>
	</div>
	<div class="subsection">
		<div class="page_wrap">
			<div class="container">
				<div class="row">
					<div class="project_element">
						<div class="col-xs-6 col-md-6">
							<img class="feature_img" src="/compiled/img/projects/barbator/preview.png">
						</div>
						<div class="col-xs-6 col-md-6 project_descr feature_descr">
							<h2>Быстрый предпросмотр товара</h2>
							<p>Окно быстрого просмотра позволяет получить всю основную информацию о товаре не переходя на его полную страницу. Так же в окне быстрого просмотра доступны все необходимые функции для проведения таких манипуляций с товаром как, добаление в корзину, добавление в список избранного и в список отслеживание изменения цены товара.</p>
						</div>
					</div>
					<div class="project_element">
						<div class="col-xs-6 col-md-6 project_descr feature_descr">
							<h2>Корзина с товарами</h2>
							<p>Стандартная корзина интернет-магазина. Оснащена дополнитльным блоком авторизации пользователя.</p>
						</div>
						<div class="col-xs-6 col-md-6">
							<img class="feature_img" src="/compiled/img/projects/barbator/cart.png">
						</div>
					</div>
					<div class="project_element">
						<div class="col-xs-6 col-md-6">
							<img class="feature_img" src="/compiled/img/projects/barbator/quik_cart.png">
						</div>
						<div class="col-xs-6 col-md-6 project_descr feature_descr">
							<h2>Быстрый просмотр корзины</h2>
							<p>Позволяет просмотреть список добавленных в корзину товаров не переходя на саму страницу корзины.</p>
						</div>
					</div>
				</div>
				<!-- <div class="btn_wrap">
					<a class="accent_button" routerLink="/services" fragment="shop" style="clear: both;">Хочу такой!</a>
				</div> -->
			</div>
		</div>
	</div>
</section>