<section class="content project_page">
	<div class="subsection">
		<div class="page_wrap">
			<h1>WordPress шаблон для блога.</h1>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-12 project_descr">
						<p>Дата запуска: 06.04.2016</p>
						<div>
							<p>Основная задача: Разработать шаблон для WordPress.</p>
							<p>Что было с делано:</p>
							<ul>
								<li>Разработана концепция дизайна</li>
								<li>Сверстали тему.</li>
								<li>Допилили пару индивидуальных функций.</li>
							</ul>
						</div>
						<div class="btn_wrap">
							<a class="no_accent_button" href="https://xt.ua" target="_blank">Перейти на сайт</a>
							<!-- <a class="accent_button" href="#">Хочу такой!</a> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="subsection">
		<div class="page_wrap">
			<div class="project_element">
				<img class="main_page" src="/compiled/img/projects/wp/wp-browser.png">
			</div>
		</div>
	</div>
	<div class="subsection light_style">
		<div class="page_wrap">
			<div class="project_element">
				<img class="laptop" src="/compiled/img/projects/wp/wp-laptop.png">
				<img class="tablet" src="/compiled/img/projects/wp/wp-iPad.png">
				<img class="mobile" src="/compiled/img/projects/wp/wp-mob.png">
			</div>
		</div>
	</div>
	<div class="subsection">
		<div class="page_wrap">
			<div class="container">
				<!-- <div class="row">
					<div class="project_element">
						<div class="col-xs-6 col-md-6">
							<img class="feature_img" src="/compiled/img/projects/xt/preview.png">
						</div>
						<div class="col-xs-6 col-md-6 project_descr feature_descr">
							<h2>Быстрый предпросмотр товара</h2>
							<p>Окно быстрого просмотра позволяет получить всю основную информацию о товаре не переходя на его полную страницу. Так же в окне быстрого просмотра доступны все необходимые функции для проведения таких манипуляций с товаром как, добаление в корзину, добавление в список избранного и в список отслеживание изменения цены товара.</p>
						</div>
					</div>
					<div class="project_element">
						<div class="col-xs-6 col-md-6 project_descr feature_descr">
							<h2>Корзина с товарами</h2>
							<p>Благодаря реализации отображении корзины в виде модального окна, пользователь может открыть ее находясь на абсолютно любой странице сайта, выполнить неодходимые действия с ней и вернуться к приобртению товаров. Помимо набора необходимых стандартных функций, корзина оснащена информативным блоком короый отображает все данные по балансу, скидке, бонусам и тд.</p>
						</div>
						<div class="col-xs-6 col-md-6">
							<img class="feature_img" src="/compiled/img/projects/xt/cart.png">
						</div>
					</div>
					<div class="project_element">
						<div class="col-xs-6 col-md-6">
							<img class="feature_img" src="/compiled/img/projects/xt/user_preview_1.png">
						</div>
						<div class="col-xs-6 col-md-6 project_descr feature_descr">
							<h2>Информация о пользователе</h2>
							<p>Быстрый доступ к редактированию основной информации пользователя, к спискам избранных товаров и товаров за которыми следим.</p>
						</div>
					</div>
				</div> -->
				<div class="btn_wrap">
					<a class="accent_button" routerLink="/services" fragment="blog" style="clear: both;">Хочу такой!</a>
				</div>
			</div>
		</div>
	</div>
</section>