<section class="content about_page">
	<div class="page_wrap">
		<h1>О нас</h1>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-12 col-sm-12">
					<p>Мы - это лучшее, что может, в принципе, случится в твоей жизни. Если хочешь сайт, но ссышь заказать у фрилансера на ворпрессе, то пиши нам. У нас ты еще и абделаешься! От радости абщения, канечна, и от полученого результата. Тошо лёва мейк ю лова лова, пляж!</p>
				</div>
				<div class="col-xs-6 col-md-6 col-sm-6">
					<div class="developer_block">
						<img src="compiled/img/avatar.svg" class="svg" alt="avatar">
						<p class="title">Веб дизайнер</p>
						<p>Намалюем, смантируем, разукрасим! Кароч, сделаем Ваш бренд легко узнаваемым</p>
					</div>
				</div>
				<div class="col-xs-6 col-md-6 col-sm-6">
					<div class="developer_block">
						<img src="compiled/img/avatar.svg" class="svg" alt="avatar">
						<p class="title">Разработчик</p>
						<p>Человек - Костыль!!! Ваш сайт будет многофункциональным и в то же время быстродейственным, НО не долго!</p>
					</div>
				</div>
				<div class="col-xs-6 col-md-6 col-sm-6">
					<div class="developer_block">
						<img src="compiled/img/avatar.svg" class="svg" alt="avatar">
						<p class="title">SEO специалист</p>
						<p>Мы знаем как увеличить Ваши продажи и привлечь максимальное количество клиентов. "Зашитная пленка Паутинка, влажные салфетки и пленка на моблиьные телефоны!"</p>
					</div>
				</div>
				<div class="col-xs-6 col-md-6 col-sm-6">
					<div class="developer_block">
						<img src="compiled/img/avatar.svg" class="svg" alt="avatar">
						<p class="title">Техобслуживание</p>
						<p>Высокая производительность работы сайта - вот что мы хотим Вам предложить, НО не можем.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>