<section class="content techs_page">
	<div class="page_wrap">
		<div class="container">
			<div class="row">
				<h1>Технологии</h1>
				<div class="tech">
					<div class="tech_image html_logo col-md-4 col-sm-12">
						<img class="svg_img svg" src="/compiled/img/html.svg">
					</div>
					<div class="tech_description col-md-8 col-sm-12">
						<p class="tech_title html_title">HTML</p>
						Сегодня сайт представляет собой некую визитную карточку бизнеса в сети. Он рекламирует ваши услуги или товары миллионной аудитории, работая без перерыва и выходных.
						Создание сайтов на заказ в WebKing– это профессиональная и быстрая работа по изготовлению сайтов любой сложности. Мы используем только новейшие технологии создания интернет-ресурсов, а также гарантируем качественную и своевременную техподдержку, стильный и эксклюзивный внешний вид, и его высокую производительность. Продуманная разработка сайта под ключ – это первая и самая важная инвестиция в ваш бизнес.
					</div>
				</div>
				<div class="tech">
					<div class="tech_image wp_logo col-md-4 col-sm-12">
						<img class="svg_img svg" src="/compiled/img/wp.svg">
					</div>
					<div class="tech_description col-md-8 col-sm-12">
						<p class="tech_title wp_title">WordPress</p>
						Сегодня сайт представляет собой некую визитную карточку бизнеса в сети. Он рекламирует ваши услуги или товары миллионной аудитории, работая без перерыва и выходных.
						Создание сайтов на заказ в WebKing– это профессиональная и быстрая работа по изготовлению сайтов любой сложности. Мы используем только новейшие технологии создания интернет-ресурсов, а также гарантируем качественную и своевременную техподдержку, стильный и эксклюзивный внешний вид, и его высокую производительность. Продуманная разработка сайта под ключ – это первая и самая важная инвестиция в ваш бизнес.
					</div>
				</div>
				<div class="tech">
					<div class="tech_image php_logo col-md-4 col-sm-12">
						<img class="svg_img svg" src="/compiled/img/php.svg">
					</div>
					<div class="tech_description col-md-8 col-sm-12">
						<p class="tech_title php_title">PHP</p>
						Сегодня сайт представляет собой некую визитную карточку бизнеса в сети. Он рекламирует ваши услуги или товары миллионной аудитории, работая без перерыва и выходных.
						Создание сайтов на заказ в WebKing– это профессиональная и быстрая работа по изготовлению сайтов любой сложности. Мы используем только новейшие технологии создания интернет-ресурсов, а также гарантируем качественную и своевременную техподдержку, стильный и эксклюзивный внешний вид, и его высокую производительность. Продуманная разработка сайта под ключ – это первая и самая важная инвестиция в ваш бизнес.
					</div>
				</div>
				<div class="tech">
					<div class="tech_image jquery_logo col-md-4 col-sm-12">
						<img class="svg_img svg" src="/compiled/img/jquery.svg">
					</div>
					<div class="tech_description col-md-8 col-sm-12">
						<p class="tech_title jquery_title">jQuery</p>
						Сегодня сайт представляет собой некую визитную карточку бизнеса в сети. Он рекламирует ваши услуги или товары миллионной аудитории, работая без перерыва и выходных.
						Создание сайтов на заказ в WebKing– это профессиональная и быстрая работа по изготовлению сайтов любой сложности. Мы используем только новейшие технологии создания интернет-ресурсов, а также гарантируем качественную и своевременную техподдержку, стильный и эксклюзивный внешний вид, и его высокую производительность. Продуманная разработка сайта под ключ – это первая и самая важная инвестиция в ваш бизнес.
					</div>
				</div>
			</div>
		</div>
	</div>
</section>