<div id="owl-banner" class="owl-carousel owl-theme owl_banner">
	<div class="banner_item">
		<div class="banner_text">
			<h2>Заполнение брифинга и определение целей</h2>
			<p>Анализируем цели и потребности Вашего бизнеса, целевой аудитории и конкурентов. После подготовления технических, дизайнерских, функциональных требованих, разработаем стратегию электронной коммерции – продвижение сайта для развития вашего бизнеса.</p>
			<a routerLink="/services" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с Вами</a>
		</div>
	</div>
	<div class="banner_item">
		<div class="banner_text">
			<h2>Проектирование дизайна и интерфейса</h2>
			<p>Создаем визуально приятный, понятный, удобный и легкий в использовании интерфейс. Тщательно продуманный и грамотно сконструированный вебсайт значительно увеличит Ваши продажи, вовлеченность клиентов и лояльность к бренду.</p>
			<a href="/services" routerLink="/services" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с Вами</a>
		</div>
	</div>
	<div class="banner_item">
		<div class="banner_text">
			<h2>Разработка функционала</h2>
			<p>Согласно техническому заданию создаем ​​сайты с использованием передовых методов программирования и новейших платформ электронной коммерции.</p>
			<a routerLink="/services" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с Вами</a>
		</div>
	</div>
	<div class="banner_item">
		<div class="banner_text">
			<h2>Тестирование и запуск</h2>
			<p>Тестируем каждую деталь Вашего сайта для устранения недостатков. После окончательной проверки отправляем Ваш сайт на просторы интернета для установления отношений с google analytics</p>
			<a routerLink="/services" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с Вами</a>
		</div>
	</div>
	<div class="banner_item">
		<div class="banner_text">
			<h2>Оптимизация и обслуживание</h2>
			<p>Обслуживаем вебсайт, отслеживаем и анализируем эффективность работы сайта и поведение пользователей на сайте. Мы работаем над увеличением посещаемости и вовлеченности посетителей сайта.</p>
			<a routerLink="/services" routerLinkActive="active" class="bunner_btn accent_button">Хочу работать с Вами</a>
		</div>
	</div>
</div>
